@model SweetSavory.Models.Treat

@{
    Layout = "_Layout";
}

<h2>Are you sure you want to delete <i>@Model.Name?</i></h2>
<hr>
@using (Html.BeginForm())
{
    <input type="submit" class="btn btn-danger" value="Yes, Delete" />
}
<br>
@Html.ActionLink("Cancel", "Edit", new { id = Model.TreatId })
