@using SweetSavory.Models;
@model List<SweetSavory.Models.Treat>

@{
  Layout = "_Layout";
}
<img class="headerImage" src="~/img/treats.png">
<h1>Treats</h1>
<hr/>
@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("★ New Treat", "Create")</p>
}

@if (Model.Any())
{
    <ul>
    @foreach (Treat treat in Model)
    {
        <li>@Html.ActionLink($"{treat.Name} - ${treat.Price}", "Details", new { id = treat.TreatId})</li>
    }
    </ul>
} 
else
{
    <h4>No treats have been added yet!</h4>
}

<a href="/">◄ Home</a>