@{ 
    Layout = "_Layout"; 
}

<h1>Recipe Box</h1>

<a class="btn btn-outline-success" href="/Recipes">See Recipes</a>
<a class="btn btn-outline-warning" href="/Tags">See Tags</a>

<a class="btn btn-outline-info" href="/Account/Login">Log in</a>

