@model SweetSavory.Models.Flavor

@{
  Layout = "_Layout";
}

<h1>Edit Flavor: @Html.DisplayFor(model => model.Name)</h1>
<hr>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    <div class="form-group">
        <label for="Name">Name</label>
        <input name="Name" type="text" class="form-control" value="@Model.Name" required>
    </div>

    <input type="submit" value="Save" class="btn btn-primary"/><br><br>
    <p>@Html.ActionLink("Cancel", "Details", new { id = Model.FlavorId })</p>
}
