@using SweetSavory.Models;
@model List<SweetSavory.Models.Flavor>

@{
  Layout = "_Layout";
}
<img class="headerImage" src="~/img/flavors.png">
<h1>Flavors</h1>
<hr/>
@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("★ New Flavor", "Create")</p>
}

@if (Model.Any())
{
 <ul>
  @foreach (Flavor flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId})</li>
  }
</ul>
} 
else
{
  <h3>No flavors have been added yet!</h3>
}

<a href="/">◄ Home</a>