@using SweetSavory.Models;
@using System.Security.Claims;
@model List<SweetSavory.Models.Flavor>

@{
  Layout = "_Layout";
}

<h2>Available Flavors</h2>
<hr/>

@if (Model.Any())
{
 <ul>
  @foreach (Flavor flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId})</li>
  }
</ul>
} 
else
{
  <h3>No flavors have been added yet!</h3>
}

<p>@Html.ActionLink("Add New Flavor", "Create")</p>
<a class="btn btn-outline-info" href="/">Home</a>