@{ 
    Layout = "_Layout"; 
}
<center>
    <h1>Pierre's Sweet and Savory Treats</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <h4>Hello <i>@User.Identity.Name</i>!</h4>
        <hr>
        <p>
            <a href="/Treats">
                <img class="headerImage" src="~/img/treats.png"><br>
                View / Manage Treats
            </a>
        </p>
        <p>
            <a href="/Flavors">
                <img class="flavorImage" src="~/img/flavors.png"><br>
                View / Manage Flavors
            </a>
        </p>
        <hr>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-outline-secondary" value="Log Out"/>
        }
    }
    else
    {
        <h4>Welcome Guest!</h4>
        <hr>
        <p>
            <a href="/Treats">
                <img class="headerImage" src="~/img/treats.png"><br>
                View All Treats
            </a>
        </p>
        <p>
            <a href="/Flavors">
                <img class="flavorImage" src="~/img/flavors.png"><br>
                View All Flavors
            </a>
        </p>
        <hr>
        <h4>To Add or Modify Treats or Flavors:</h4><br>
        <a class="btn btn-primary" href="/Account/Login">Log In</a><br><br>
        <p>or</p>
        <a class="btn btn-outline-primary" href="/Account/Register">Register</a>
    }
</center>