@{ 
    Layout = "_Layout"; 
}

<h1>Pierre's Sweet and Savory Treats</h1>

<a class="btn btn-outline-success" href="/Treats">View All Treats</a>
<a class="btn btn-outline-warning" href="/Flavors">View by Flavor</a>

<a class="btn btn-outline-info" href="/Account/Login">Log In</a>