@using SweetSavory.ViewModels;
@model LoginViewModel

@{
  Layout = "_Layout";
}

<h2>Log In</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="UserName">Username</label>
        <input name="UserName" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input name="Password" type="password" class="form-control" required>
    </div>
    <input type="Submit" value="Log In" class="btn btn-outline-info" />
    <a class="btn btn-outline-secondary" href="/">Cancel</a>  
}