@using SweetSavory.ViewModels;
@using Microsoft.AspNetCore.Identity;
@model RegisterViewModel

@{
  Layout = "_Layout";
}

<h2>New User Registration</h2>

<hr/>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="form-group">
        <label for="UserName">Username</label>
        <input name="UserName" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input name="Email" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input name="Password" type="password" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input name="ConfirmPassword" type="password" class="form-control" required>
    </div>

    <input type="Submit" class="btn btn-primary" value="Register"/><br><br>
    <a href="/">Cancel</a>  
}
<br>
<p>@ViewBag.ErrorMessage</p>